*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    background-color: #0D1282;
    color: #EEEEEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
}
header nav{
    /* background-color: #041562; */
    width: 40%;
}
header nav ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
header nav ul li a{
    color: #0D1282;
    text-decoration: none;
    font-size: 2.5vw;
}
.logo{
    background-color: #0D1282;
    border-radius: 5%;
    padding: .5vw;
    font-weight: bold;
}
header nav ul li #logo{
    line-height: 1vw;
    color: #F0DE36;
    position: relative;
    right: .5vw;
}
header nav ul li span{
    color: #D71313;
    position: relative;
    left: 2vw;
}
.start{
    background:#EEEEEE;
    color: #0D1282;
    padding: 1vw 1.5vw;
    border-radius: 3VW;
    font-size: 1.5vw;
    position: relative;
    top: 1.5vw;
    font-weight: bold;
}
.start:hover{
    background: #D71313;
    color: #F0DE36;
    transition: 0.3s ease-in-out;
}
.login{
    font-size: 1.5vw;
    /* font-weight: bold; */
    color: #EEEEEE;
    position: relative;
    top: 1.5vw;
    font-weight: bold;
}
.login:hover{
    color: #F0DE36;
    transition: 0.3s ease-in-out;
}
input[type="checkbox"]{
    display: none;
}
#menu-icon{
    width: 2.5vw;
    height: 2.5vw;
}
#close-icon{
    display: none;
    width: 2.5vw;
    height: 2.5vw;
    position: relative;
    top: 1.5vw;
    left: -.5vw;
}
.menu{
    z-index: 1000;
    background: #fff;
    width: 25vw;
    height: 100vh;
    position: absolute;
    top: -1vw;
    left: -60vw;
    transition: 1s ease-in-out;
}
.menu .items{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 2vw;
}
.menu .items li{
    list-style: none;
    color: #0D1282;
    margin-bottom: 1.5vw;
}
.menu .items li a{
    color: #0D1282;
    text-decoration: none;
    font-size: 1.5vw;
    font-style: italic;
}
.head{
    width: 100%;
    background-color: #0D1282;
    display: flex;
    justify-content: space-around;
    padding: .5vw 0;
}
.head h1{
    /* background: #11468F; */
    line-height: 1.5vw;
    color: #F0DE36;
    padding: 1.5vw 1.8vw 1vw 1vw;
    font-size: 2.2vw;
}
.head h1 span{
        color: #D71313;
        position: relative;
        left: 2.4vw;
}
.active{
    left: 0vw;
}
.overlay{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

/* footer */
footer{
    background-color: #0D1282;
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    padding: 1vw;
    overflow: hidden;

}
footer .logo{
    background-color: #0D1282;
    border-radius: 5%;
    padding: .5vw;
    font-weight: bold;
    text-align: center;
}
footer .logo #logo2{
    font-size: 2.5vw;
    line-height: 1vw;
    color: #F0DE36;
    position: relative;
    right: .5vw;
    text-decoration: none;
}
footer .logo #logo2  span{
    color: #D71313;
    position: relative;
    left: 1.5vw;
    top: .5vw;
}
.linkboxs{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1vw;
    margin-bottom: 1.5vw;
    /* background: #D71313; */
}
.linkboxs li{
    list-style: none;

    margin-bottom: 1.6vw;
}
.linkboxs a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3vw;
    font-weight: bold;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

footer .linkboxs a:hover{
    color: #F0DE36;
    text-shadow: 0 0 5px #F0DE36, 0 0 10px #FF4D4D;
    text-decoration: underline;
}
footer h5{
    color: #D71313;
    font-size: 2.3vw;
    margin-bottom: 1.5vw;
    /* text-decoration: underline; */
    /* text-align: center; */
}
.socials img{
    width: 2vw;
    height: 2vw;
    margin-right: 1vw;
    position: relative;
    top: .5vw;

}
.Support{
    padding: 3vw;
    /* border: #EEEEEE 1px solid; */
    /* text-transform: capitalize; */
    width: 25vw;
    height: 20vw;
}
.socials {
    padding: 3vw;
    /* border: #EEEEEE 1px solid; */
    text-transform: capitalize;
    width: 25vw;
    height: 20vw;
}
.links{
    padding: 3vw;
    /* border: #EEEEEE 1px solid; */
    width: 25vw;
    height: 20vw;
}
.message{
    padding: 3vw;
    /* border: #EEEEEE 1px solid; */
    width: 25vw;
    height: 20vw;
}
.active2{
    height: 6vw;
}
.copyright{
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
    color: #EEEEEE;
    margin-top: 1vw;
    padding: 1vw;
    /* background-color: #0D1282; */
}
.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 1.2em;
    border-top: 2px solid #fff;
    padding-top: 15px;
    background-color: #0D1282;
    font-weight: bold;
}
